@font-face {
  font-family: hell;
  src: url("Baloo2-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: #fff;
  font-family: "hell" ,sans-serif;
}
html,
body {
  color: white;
  height: 100%;
  border-style: 100%;
}
nav {
  position: fixed;
  height: 12vh;
  background-color: #111;
  width: 100%;
  display: flex;
  padding: 2vw 10.4vw;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
}
.nav-part2 {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  padding: 1vh 0vh;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 700;
  margin-bottom: 3vw;
}

.nav-part2 h5 {
  display: none;
}

.nav-part2 h5 span {
  font-size: 0.8vw;
  font-weight: 600;
}

#nav-bottom {
  position: absolute;
  height: 0vh;
  width: 80%;
  background-color: #111;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  overflow: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* position add remaining*/
}
.talk-btn {
  color: #ffffffdc;
  text-transform: uppercase;
  border: none;
  padding: 8px 12px;
  background-color: #459e5a;
  border-radius: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.85;
}

button span svg {
  height: 1vw;
  width: 1vw;
}

.bottom-div {
  margin-top: 2vw;
}
.bottom-div h5 {
  /* background-color: red; */

  margin-bottom: 0.4vw;
  overflow: hidden;
  opacity: 0;
}

.bottom-div h5 span {
  font-weight: 500;
  font-size: 0.75vw;
  display: inline-block;
}

#page1 h1 {
  line-height: 8.5vw;
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
#page1 svg {
  border-radius: 50%;
  height: 5.8vw;
  width: 6vw;
  padding: 25px;
  background-color: #459e5a;
  cursor: pointer;
}

#page1 p {
  margin-top: 4vh;
  text-align: center;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-size: 1vw;
  border: 1px solid grey;
  text-transform: lowercase;
  padding: 5px 10px;
  border-radius: 45px;
  margin-right: 4px;
  margin-top: 0.5vw;
}
#page1-something h4:nth-last-child(2) {
  border: none;
  padding: 2px;
}

#moving-div {
  margin-top: 10vh;
  position: absolute;
  bottom: 0%;
  width: 44%;
  white-space: nowrap; /* all alements in a single line*/
  padding: 2vw;
  overflow: hidden;
}

#moving-div .move {
  display: inline-block;
  animation: infinite_loop 20s linear infinite;
}
#moving-div .move img {
  height: 1vw;
  margin: 0 1vw;
}

@keyframes infinite_loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.blur-right {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw;
  border-top: 1px solid #333;
}
#page2-left {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  padding: 3vw 0;
  justify-content: space-between;
  align-items: flex-start;
}
#page2-left p {
  font-size: 0.8vw;
  font-weight: 600;
}
#page2-left h5 {
  width: 75%;
  font-weight: 400;
  font-size: 1.1vw;
  font-weight: 400;
}
#page2-right {
  height: 100%;
  width: 50%;
}
.right-elem {
  position: relative;
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}
.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
}
.right-elem img {
  height: 7vw;
  width: 7vw;
  object-fit: cover;
  object-position: right;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#page3 {
  position: relative;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
  padding: 1vw;
}
.page3-center .icon {
  width: 8vw;
  height: 8vw;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.3vw;
  margin-left: 10%;
}

.icon i {
  font-size: 2.8vw;
  color: #111;
}
.page3-center h5 {
  font-size: 0.8vw;
  font-weight: bolder;
  color: #111;
  background-color: #ffffff;
  opacity: 0;
  border-radius: 50px;
  padding: 10px 20px;

  transition: all 0.5s ease;
  transform: translateY(10%);
}
.page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
}

#page3 video{
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  border-radius: 30px;
  opacity: 0;
z-index: 9999;

}

#page4{
  height: 100vh;
  width: 100%;
  background-color: white;
  display: grid;
 grid-template-columns: 50% 50%;
grid-template-rows: 62% 30%;
row-gap:8%;
 grid-template-areas: "left right" 
                       "stats stats";
}
.left{

 grid-area: left;
  height: 100%;
  width: 100%;
  padding: 13%;
  
}
.left h1{
  color: black;
  font-weight: 750;
  font-size: 2.5em;
  line-height: 1.1;
}
.right{
  
 grid-area: right;

  height: 100%;
  width: 100%;
  padding: 15% 10% ;
  display: flex;
  flex-direction: column;
  
}

.right h6{
color: rgb(206, 206, 206);
  font-weight: 700;
  margin-bottom: 4%;
}
.right p{
  width: 100%;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-bottom: 12%;
}
.stats{
  margin-top: 3%;
  grid-area: stats;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1em;
  
}
.stat{
 border-radius: 10px;

  background-color:rgb(244, 235, 235);
  height: 100%;
  width:26%;
  padding: 2%;
  
}
.stat h1 , h5{
   color:#111;
   margin-bottom: 5%;
   font-weight: 400;
}

#page5{
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.section{
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:17vh 5vw ;
}
.sec_left{
  height: 80vh;
  width: 25%;
  
  border-top: 2px solid #000;
  padding:5vh 0vh 0vh 7vh;
}
.sec_left h2{
 font-size: 2.1vw;
 font-weight: 500;
 color: #000;
}
.sec_left p{
  color: #000;
  margin-top: 5vw;
   font-size: 1.2vw;
   width: 80%;
   margin-bottom: 50%;
}
.sec_right{
  position: relative;
  top: -8%;
  height: 70vh;
  width: 65%;

  overflow: hidden;
}
.sec_right img {
height: 100%;
width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 6;
  transition: all 2s ease;

}
.sec_right video{
 position: absolute;
 z-index: 7;
 height: 100%;
 width: 100%;
 object-fit: cover;

opacity: 1;

}
.hovr{
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30%;
  width: 19%;
  border-radius: 50%;
  background-color:rgb(72, 102, 247);
  z-index: 9;
  transform: scale(0.1);
  opacity: 0;

}
.hovr h4{
  font-size: 0.8vw;
  align-self: flex-end;
  line-height: 1.1vw;
}
.hovr i{
  align-self: flex-start;
  margin-bottom: 2%;
  
}
.section2{

    width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content:space-between;
  padding:17vh 5vw ; 
}

.sec_left h2 i{
  height: 50%;
  width: 30%;
  font-size: 1.6vw;
  color: #000;
  margin-left: 6%;
  margin-bottom: 50%;
}
.foot{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  height: 7%;
  width: 75%;
  border-radius: 25px;
  background-color:rgb(72, 102, 247);
  overflow: hidden;
}
.foot h4{
  font-weight: 500;
}

/* #page6{

} */

#page7{
  position: relative;
  display:flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-color: #111;
}

#page7 button{
  height: 10%;
  width: 18%;
  background-color: #0BA34E;
  padding: 1vw 2vw;
  font-size: 1vw;
  border-radius: 35px;
}
#page7-right p
{
  width: 60%;
}