@font-face {
  font-family: hell;
  src: url("Baloo2-VariableFont_wght.ttf") format("truetype");
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: #fff;
  font-family: "hell", sans-serif;
}
html,
body {
  color: white;
  height: 100%;
  border-style: 100%;
}
nav {
  position: fixed;
  height: 12vh;
  background-color: #111;
  width: 100%;
  display: flex;
  padding: 2vw 10.4vw;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
}
.nav-part2 {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  padding: 1vh 0vh;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 700;
  margin-bottom: 3vw;
}

.nav-part2 h5 {
  display: none;
}

.nav-part2 h5 span {
  font-size: 0.8vw;
  font-weight: 600;
}

#nav-bottom {
  position: absolute;
  height: 0vh;
  width: 80%;
  background-color: #111;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  overflow: hidden;
}
#page1 {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* position add remaining*/
}
.talk-btn {
  color: #ffffffdc;
  text-transform: uppercase;
  border: none;
  padding: 8px 12px;
  background-color: #459e5a;
  border-radius: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.85;
}

button span svg {
  height: 1vw;
  width: 1vw;
}

.bottom-div {
  margin-top: 2vw;
}
.bottom-div h5 {
  /* background-color: red; */

  margin-bottom: 0.4vw;
  overflow: hidden;
  opacity: 0;
}

.bottom-div .pencil {
  font-weight: 500;
  font-size: 0.75vw;
  display: inline-flex;
}

#page1 h1 {
  line-height: 8.5vw;
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
#page1 svg {
  
  border-radius: 50%;
  height: 5.8vw;
  width: 6vw;
  padding: 25px;
  background-color: #459e5a;

}
#page1 .pencil:hover{
  transform: scale(1.2);
  cursor: pointer;
}

#page1 p {
  margin-top: 4vh;
  text-align: center;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-size: 1vw;
  border: 1px solid grey;
  text-transform: lowercase;
  padding: 5px 10px;
  border-radius: 45px;
  margin-right: 4px;
  margin-top: 0.5vw;
}
#page1-something h4:nth-last-child(2) {
  border: none;
  padding: 2px;
}

#moving-div {
  margin-top: 10vh;
  position: absolute;
  bottom: 0%;
  width: 44%;
  white-space: nowrap; /* all alements in a single line*/
  padding: 2vw;
  overflow: hidden;
  
}

#moving-div .move {
  display: inline-block;
  animation: infinite_loop 20s linear infinite;
}
#moving-div .move img {
  height: 1vw;
  margin: 0 1vw;
}

@keyframes infinite_loop {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.blur-left {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, #111, transparent);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
}
.blur-right {
  height: 100%;
  width: 20%;
  background: linear-gradient(to right, transparent, #111);
  position: absolute;
  top: 0;
  right: 0;
  z-index: 2;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  padding: 0vw 10.5vw;
  padding-bottom: 8vw;
  border-top: 1px solid #333;
}
#page2-left {
  height: 100%;
  width: 40%;

  display: flex;
  flex-direction: column;
  padding: 3vw 0;
  justify-content: space-between;
  align-items: flex-start;
}
#page2-left p {
  font-size: 1vw;
  font-weight: 600;
}
#page2-left h5 {
  width: 75%;
  font-weight: 400;
  font-size: 1.1vw;
  font-weight: 400;
}
#page2-right {
  height: 100%;
  width: 50%;
}
.right-elem {
  position: relative;
  padding-top: 2vw;
  padding-bottom: 5vw;
  border-bottom: 1px solid #333;
}
.right-elem h2 {
  font-size: 1.4vw;
  font-weight: 400;
}
.right-elem img {
  height: 7vw;
  width: 7vw;
  object-fit: cover;
  object-position: right;
  border-radius: 50%;
  position: absolute;
  opacity: 0;
  transition: opacity 0.5s ease;
}

#page3 {
  position: relative;
  background-image: url(https://lazarev.kiev.ua/la24/reel-cover.webp);
  background-size: cover;
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page3-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.4em;
  padding: 1vw;
}
.page3-center .icon {
  width: 8vw;
  height: 8vw;
  background-color: white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3.3vw;
  margin-left: 10%;
}

.icon i {
  font-size: 2.8vw;
  color: #111;
}
.page3-center h5 {
  font-size: 0.8vw;
  font-weight: bolder;
  color: #111;
  background-color: #ffffff;
  opacity: 0;
  border-radius: 50px;
  padding: 10px 20px;

  transition: all 0.5s ease;
  transform: translateY(10%);
}
.page3-center:hover h5 {
  opacity: 1;
  transform: translateY(0%);
}

#page3 video {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform: scaleX(0.7) scaleY(0);
  border-radius: 30px;
  opacity: 0;
  z-index: 13;
}

#page4 {
  height: 100vh;
  width: 100%;
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 62% 30%;
  row-gap: 8%;
  grid-template-areas:
    "left right"
    "stats stats";
}
.left {
  grid-area: left;
  height: 100%;
  width: 100%;
  padding: 13%;
}
.left h1 {
  color: black;
  font-weight: 750;
  font-size: 2.5em;
  line-height: 1.1;
}
.right {
  grid-area: right;

  height: 100%;
  width: 100%;
  padding: 15% 10%;
  display: flex;
  flex-direction: column;
}

.right h6 {
  color: rgb(206, 206, 206);
  font-weight: 700;
  margin-bottom: 4%;
}
.right p {
  width: 100%;
  font-size: 1.1em;
  color: black;
  font-weight: 500;
  margin-bottom: 12%;
}
.stats {
  margin-top: 3%;
  grid-area: stats;
  height: 80%;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 1em;
}
.stat {
  border-radius: 10px;

  background-color: rgb(244, 235, 235);
  height: 100%;
  width: 26%;
  padding: 2%;
}
.stat h1,
h5 {
  color: #111;
  margin-bottom: 5%;
  font-weight: 400;
}

#page5 {
  min-height: 100vh;
  width: 100%;
  background-color: rgb(255, 255, 255);
  position: relative;
}
.section {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17vh 5vw;
}
.sec_left {
  height: 80vh;
  width: 25%;

  border-top: 2px solid #000;
  padding: 5vh 0vh 0vh 7vh;
}
.sec_left h2 {
  font-size: 2.1vw;
  font-weight: 500;
  color: #000;
}
.sec_left p {
  color: #000;
  margin-top: 5vw;
  font-size: 1.2vw;
  width: 80%;
  margin-bottom: 50%;
}
.sec_right {
  position: relative;
  top: -8%;
  height: 70vh;
  width: 65%;

  overflow: hidden;
}
.sec_right img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 6;
  transition: all 2s ease;
}
.sec_right video {
  position: absolute;
  z-index: 7;
  height: 100%;
  width: 100%;
  object-fit: cover;

  opacity: 1;
}
.hovr {
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  height: 30%;
  width: 19%;
  border-radius: 50%;
  background-color: rgb(72, 102, 247);
  z-index: 9;
  transform: scale(0.1);
  opacity: 0;
}
.hovr h4 {
  font-size: 0.8vw;
  align-self: flex-end;
  line-height: 1.1vw;
}
.hovr i {
  align-self: flex-start;
  margin-bottom: 2%;
}
.section2 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 17vh 5vw;
}

.sec_left h2 i {
  height: 50%;
  width: 30%;
  font-size: 1.6vw;
  color: #000;
  margin-left: 6%;
  margin-bottom: 50%;
}
.foot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5%;
  height: 7%;
  width: 75%;
  border-radius: 25px;
  background-color: rgb(72, 102, 247);
  overflow: hidden;
}
.foot h4 {
  font-weight: 500;
}

#page6 {
 min-height: 100vh;
  width: 100%;
  background-color: #fff;
   padding: 10vh 10vw;

   
}
#page6 button{
  color: #000;
}
#page6>h1{
  font-size:5.5vw ;
  color: #000;
  line-height: 5.8vw;
  padding-left: 23vw;
  padding-right: 5vw;
  padding-bottom: 10vh;
  border-bottom: 1px solid #dadada;
}
#page6content{
margin-top: 5vw;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 8vh 0;
}
 .see{
  position: relative;
  background-color: rgb(72, 102, 247);
  width: 15vw;
  height: 3.5vw;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.see h4{
  position: absolute;
  font-weight: 600;
  font-size:0.85vw;

}.see i{
 
  font-size:1vw;
  font-weight: 100;
  margin-left: 0.5vw;
}
#right-6{
  width: 70%;

}
#right-6>p{
  color: #000;
  font-size: 1.5vw;
  margin-bottom: 5vh;
  width: 80%;

}
#page6> p{
  color: #000;
}
#page6-bottom{
  height: 44vh;
  width: 100%;

  border-top: 1px solid #dadada;
  display: flex;
  justify-content: center;
  align-items: flex-start;

}


.btm6-part1{
  border-right: 1px solid #dadada;
  width: 30%;

  height: 100%;
}
.btm6-part2{
  border-right: 1px solid #dadada;
  width: 28%;

  height: 100%;
}
.btm6-part2 :nth-child(2){
 transform: translateX(0);
}
.btm6-part2 :nth-child(3){
 transform: translateX(10%);
}
.btm6-part2 :nth-child(4){
 transform: translateX(20%);
}
.btm6-part2 :nth-child(5){
 transform: translateX(30%);
}
.btm6-part2 :nth-child(6){
 transform: translateX(40%);
}
.btm6-part2 :nth-child(7){
 transform: translateX(50%);
}
.btm6-part3 :nth-child(2){
 transform: translateX(0%);
}
.btm6-part3 :nth-child(3){
 transform: translateX(10%);
}
.btm6-part4 :nth-child(2){
 transform: translateX(0%);
}
.btm6-part4 :nth-child(3){
 transform: translateX(10%);
}
.btm6-part4 :nth-child(4){
 transform: translateX(20%);
}

.btm6-part3{
  border-right: 1px solid #dadada;
  width: 15%;

  height: 100%;
}
.btm6-part4{
  border-right: 1px solid #dadada;
  width: 15%;

  height: 100%;
}
.btm6-part5{
 
  width: 15%;

  height: 100%;
}
.btm6-parts{
padding: 3vh 0.6vh;

}
.btm6-parts h5 {
  font-weight: 600;
font-size: 0.9vw;
margin-bottom: 4vh;
}
.btm6-parts h4{
  background-color: #111;
   width: 75%;
   padding: 5px 10px;
   border-radius: 50px;
   font-size: 0.85vw;
   font-weight: 500;
   display: flex;
   align-items: center;
   margin-bottom: 0.3vh;
}
.btm6-parts span {
  background-color: #333;
   padding: 0.5vw;
   border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;
width: 1.5vw;
height: 1.5vw;
margin-right: 0.5vw;
}
#page7 { 
  padding: 5vh 10.5vw;
  position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  min-height: 100vh;
  width: 100%;
  background-color: #111;
}


#page7 button {
  height: 10%;
  width: 18%;
  background-color: #0ba34e;
  padding: 0.6vw 2vw;
  font-size: 1vw;
  border-radius: 35px;
  font-weight: 700;
  cursor: pointer;
  border: none;
  position: sticky;
  top: 15%;
}
#page7 button i {
  margin-left: 14%;
}
#page7-right {
  width: 70%;
}

#page7-right > p {
  font-size: 2vw;
  width: 100%;
}
#page7-right > p span {
  font-size: 1vw;
  width: 15vw;
  display: inline-block;
}
.page7-content {
  border-top: 2px solid #fff;
  width: 100%;
  margin-top: 3vw;
  padding: 1vh 0vh;
  position: relative;
}
.page7 {
  border-top: none;
  margin-top: 0%;
}
.page7-content h1 {
  font-size: 2vw;
  margin-bottom: 1%;
  transition: all 2s ease;
}

.page7-content > h1 i {
  display: inline-block;
}

.page7-content .flex {
  margin-top: 2px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.page7-content .flex h4 {
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1vw;
}
.page-container {
  margin-top: 4vh;
  overflow: hidden;
  /* display: none;  */
}
.page7-elem {
  border-top: 1px solid grey;
  padding: 2vh 0vh 0vh 0vh;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  opacity: 1;

  position: relative;
  overflow: hidden;
  /* display: none; */
}

.page7-elem h3 {
  font-size: 1.5vw;
  position: relative;
  z-index: 8;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page7-elem i {
  position: relative;
  transition: all cubic-bezier(0.19, 1, 0.22, 1) 1s;
}
.page7-elem p {
  font-size: 0.8vw;
  width: 50%;
  margin-bottom: 7%;
  position: relative;
  z-index: 8;
}
.content2 {
  border-top: 1px solid grey;
}
.page7-elem:hover h3 {
  padding-left: 1vw;
  font-size: 1.6vw;
}

.page7-elem:hover i {
  padding-right: 1vw;
}
.page7-elem:hover {
  border-top: 2px solid #fff;
}
.over {
  width: 100%;
  height: 100%;
  background-color: rgba(47, 47, 47, 0.364);

  position: absolute;
  top: 0;
  transform: translateY(-100%);
  opacity: 0;
}

.product {
  border-top: 2px solid #fff;
  width: 100%;
  margin-top: 3vw;
  padding: 1vh 0vh;
  position: relative;
}
.product h1 {
  font-size: 2vw;
  margin-bottom: 5%;
  transition: all 2s ease;
}

.product > h1 i {
  display: inline-block;
}
.product .flex {
  margin-top: 2px solid;
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
.product .flex h4 {
  border-radius: 50px;
  border: 2px solid #fff;
  padding: 10px 20px;
  font-weight: 400;
  font-size: 1vw;
}

summary {
  list-style: none;
}
details .content {
  overflow: hidden;
  max-height: 0;            /* start closed */
  transition: max-height 0.5s ease; /* smooth open/close */
}

.page8{
  height: 100vh;
  width: 100%;
}