@font-face {
  font-family: hell;
  src: url("") format("truetype");
}
* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  color: #fff;
}
html,
body {
  color: white;
  height: 100%;
  border-style: 100%;
}
nav {
  position: fixed;
  height: 12vh;
  /* background-color: rgb(10, 10, 10); */
  width: 100%;
  display: flex;
  padding: 2vw 10.4vw;
  align-items: flex-start;
  justify-content: space-between;
  z-index: 10;
}
.nav-part2 {
  display: flex;
  align-items: flex-start;
  gap: 2vw;
  padding: 1vh 0vh;
  position: relative;
  z-index: 10;
}
.nav-part2 h4 {
  text-transform: uppercase;
  font-size: 0.8vw;
  font-weight: 700;
  margin-bottom: 3vw;
}

.nav-part2 h5 {
  display: none;
}

.nav-part2 h5 span {
  font-size: 0.8vw;
  font-weight: 600;
}

#nav-bottom {
  position: absolute;
  height: 0vh;
  width: 80%;
  background-color: #111;
  top: 100%;
  z-index: 9;
  border-bottom: 1px solid #dadada;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  overflow: hidden;
}
#page1 {
  height: 100vh;
  width: 100%;
  background-color: #111;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; /* position add remaining*/
}
.talk-btn {
  color: #ffffffdc;
  text-transform: uppercase;
  border: none;
  padding: 8px 12px;
  background-color: #459e5a;
  border-radius: 45px;
  display: flex;
  align-items: center;
  gap: 20px;
  cursor: pointer;
  font-weight: 700;
  font-size: 0.85;
}

button span svg {
  height: 1vw;
  width: 1vw;
}

.bottom-div {
  margin-top: 2vw;
}
.bottom-div h5 {
  /* background-color: red; */

  margin-bottom: 0.4vw;
  overflow: hidden;
  opacity: 0;
}

.bottom-div h5 span {
  font-weight: 500;
  font-size: 0.75vw;
  display: inline-block;
}

#page1 h1 {
  line-height: 8.5vw;
  font-size: 8.5vw;
  text-transform: uppercase;
  font-weight: 900;
}
#page1 svg {
  border-radius: 50%;
  height: 5.8vw;
  width: 6vw;
  padding: 25px;
  background-color: #459e5a;
  cursor: pointer;
}

#page1 p {
  margin-top: 4vh;
  text-align: center;
}

#page1-something {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page1-something h4 {
  font-size: 1vw;
  border: 1px solid grey;
  text-transform: lowercase;
  padding: 5px 10px;
  border-radius: 45px;
  margin-right: 4px;
  margin-top: 0.5vw;
}
#page1-something h4:nth-last-child(2) {
  border: none;
  padding: 2px;
}

#moving-div {

  margin-top: 10vh;
  position: absolute;
  bottom: 3%;
  width: 44%;
  white-space: nowrap; /* all alements in a single line*/
  padding: 2vw;
  overflow: hidden;
 

}

#moving-div .move {
  display: inline-block;
  animation: infinite_loop 20s linear infinite;
}
#moving-div .move img {
  height: 1vw;
  margin: 0 1vw;
  
}


@keyframes infinite_loop {
  0% {
    transform: translateX(0%);
  }
  100%{
    transform: translateX(-100%);
  }
}

.blur-left{
    height: 100%;
    width:20%;
background:linear-gradient(to right ,#111,transparent );
position: absolute;
top: 0;
left: 0;
z-index: 2;
}
.blur-right{
  height: 100%;
      width:20%;
background:linear-gradient(to right ,transparent, #111);
  position: absolute;
  top: 0;
right: 0;
z-index: 2;
}

#page2 {
  height: 100vh;
  width: 100%;
  background-color: #111;
}
